.container-one {
  background-color: #deaa79;
  padding-top: 1px;
  width: 100%;
  height: 180px;
  display: flex;
}
.seal {
  width: 380px;
}
.seal img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}
#header-title {
  width: 100%;
  text-align: center;
  padding-top: 8px;
  font-size: 1.75em;
  font-family: recoleta;
  text-decoration: underline;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
#header-links {
  width: 380px;
  padding-top: 145px;
  margin-left: auto;
}
#header-links a {
  font-family: recoleta;
  padding-left: 31px;
  padding-top: 40px;
  font-size: 1.2em;
}
#header-links a:hover {
  color: white;
}

.container-two {
  background-color: #ffe6a9;
  padding-top: 1px;
  width: 100%;
  height: auto;
}
h2 {
  font-family: recoleta;
  font-size: 2em;
  text-decoration: underline;
  padding-left: 30px;
  padding-top: 27px;
  font-weight: bold;
}
p {
  font-family: recoleta;
  padding-left: 30px;
  font-size: 1.75em;
}

.response {
  color: blue;
}
.habits-title {
  text-decoration: underline;
}

li {
  font-size: 1.5em;
  padding: 30px;
  font-family: recoleta;
}
.blogs {
  display: flex;
  justify-content: space-between;
  background-color: #ffe6a9;
  height: 250px;
}
.blog-links {
  border-radius: 50%;
  background-color: #d7d3bf;
  margin-left: 0;
  width: 500px;
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-right: 10px;
}

.container-three {
  background-color: #b1c29e;
  padding-top: 2px;
  width: 100%;
  height: 500px;
}
h3 {
  font-family: recoleta;
  font-size: 2em;
  padding-left: 30px;
  text-decoration: underline;
  font-weight: bold;
}
.seal-showcase {
  display: flex;
  justify-content: space-between;
}

.seal-two img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}

.seal-three img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}
.seal-four img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
  padding-right: 10px;
}
@media only screen and (min-width: 768px) {
  #header-links a {
    flex-wrap: wrap;
  }
}
