.container-one {
  background-color: #deaa79;
  padding-top: 1px;
  display: flex;
  width: 100%;
  height: 180px;
  display: flex;
}
.seal {
  width: 380px;
}
.seal img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}
#header-title {
  width: 380px;
  text-align: center;
  padding-top: 8px;
  font-size: 1.75em;
  font-family: recoleta;
  text-decoration: underline;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
#header-links {
  width: 380px;
  padding-top: 145px;
}
#header-links a {
  font-family: recoleta;
  padding-left: 31px;
  padding-top: 40px;
}
a {
  font-size: 1.2em;
}
.container-two {
  background-color: #ffe6a9;
  padding-top: 1px;
  width: 100%;
  height: 700px;
}
h2 {
  font-family: recoleta;
  font-size: 2em;
  text-decoration: underline;
  padding-left: 30px;
  padding-top: 27px;
  font-weight: bold;
}
p {
  font-family: recoleta;
  padding-left: 30px;
  font-size: 1.75em;
}
.container-three {
  background-color: #b1c29e;
  padding-top: 2px;
  width: 100%;
  height: 400px;
}
h3 {
  font-family: recoleta;
  font-size: 2em;
  padding-left: 30px;
  text-decoration: underline;
  font-weight: bold;
}
.seal-showcase {
  display: flex;
  justify-content: space-between;
}

.seal-two img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}

.seal-three img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}
.seal-four img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  #header-links a {
    flex-wrap: wrap;
  }
}
